*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}


body{
    background: #c4ebf1;
  
}
main{
    display: flex;
}
div{
    height: 200px;
    width: 200px;
}

#box1{
     background-color: green;
}
#box2{

    background-color: blue;
}
#box3{
    background-color: red;
}